<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University of Utah</title>
    <link rel="stylesheet" href="{% static 'u_parking/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <img src="{% static 'u_parking/utah_logo.png' %}" alt="University of Utah Logo" class="logo">
                <h1>University of Utah</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home_page' %}">Home</a></li>
                    <li><a href="{% url 'admin' %}">Admin</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="showcase">
        <div class="container">
            <h1>Welcome to University of Utah Parking</h1>
            <p>Manage your parking permits and vehicles easily.</p>
            <a class="button" href="{% url 'register' %}">Register Now</a>
        </div>
    </section>
    <footer>
        <p>University of Utah Parking &copy; 2024</p>
    </footer>
</body>
</html>
